In [3]:
import numpy as np
import sys
sys.path.append("../src/data")
from load_data import load_online

In [4]:
df = load_online(path="../data/online_retail_II.xlsx")

In [6]:
df

       Invoice StockCode  ... Customer ID         Country
0       489434     85048  ...     13085.0  United Kingdom
1       489434    79323P  ...     13085.0  United Kingdom
2       489434    79323W  ...     13085.0  United Kingdom
3       489434     22041  ...     13085.0  United Kingdom
4       489434     21232  ...     13085.0  United Kingdom
...        ...       ...  ...         ...             ...
525456  538171     22271  ...     17530.0  United Kingdom
525457  538171     22750  ...     17530.0  United Kingdom
525458  538171     22751  ...     17530.0  United Kingdom
525459  538171     20970  ...     17530.0  United Kingdom
525460  538171     21931  ...     17530.0  United Kingdom

[525461 rows x 8 columns]