In [1]:
import numpy as np
import sys
sys.path.append("../src/data")
sys.path.append("../src/features")
from load_data import load_online
from preprocess import clean_data
from feature_engineer import time_aggregate
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = load_online(path="../data/online_retail_II.xlsx")      # Loads the Data from it's .csv
df = clean_data(df)                                         # Cleans the Data for Nulls

In [3]:
df = time_aggregate(df)                                     #Aggregates the rows according to the date
df

,Date,revenue,quantity,customers,Day,Week,Month,Weekday,Is_Weekend
0,2009-12-01,42708.22,23807,117,1,49,2009-12,Tuesday,False
1,2009-12-02,52578.19,29566,98,2,49,2009-12,Wednesday,False
2,2009-12-03,61534.22,45631,116,3,49,2009-12,Thursday,False
3,2009-12-04,33686.86,19964,82,4,49,2009-12,Friday,True
4,2009-12-05,9803.05,5119,26,5,49,2009-12,Saturday,True
...,...,...,...,...,...,...,...,...,...
302,2010-12-05,31380.60,16394,76,5,48,2010-12,Sunday,True
303,2010-12-06,30465.08,16095,90,6,49,2010-12,Monday,False
304,2010-12-07,53125.99,19351,70,7,49,2010-12,Tuesday,False
305,2010-12-08,38048.68,21275,112,8,49,2010-12,Wednesday,False
306,2010-12-09,37177.85,16904,122,9,49,2010-12,Thursday,False