In [1]:
import numpy as np
import sys
sys.path.append("../src/data")
sys.path.append("../src/features")
from load_data import load_online
from preprocess import clean_data
from feature_engineer import time_aggregate
import matplotlib.pyplot as plt

In [4]:
df = load_online(path="../data/online_retail_II.xlsx")      # Loads the Data from it's .csv
df = clean_data(df)                                         # Cleans the Data for Nulls

In [5]:
df = time_aggregate(df)                                     #Aggregates the rows according to the date
df

             revenue  quantity  customers
date
2009-12-01  42708.22     23807        117
2009-12-02  52578.19     29566         98
2009-12-03  61534.22     45631        116
2009-12-04  33686.86     19964         82
2009-12-05   9803.05      5119         26
...              ...       ...        ...
2010-12-05  31380.60     16394         76
2010-12-06  30465.08     16095         90
2010-12-07  53125.99     19351         70
2010-12-08  38048.68     21275        112
2010-12-09  37177.85     16904        122

[307 rows x 3 columns]